@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Source+Code+Pro&display=swap');
  
@media only screen and (max-width: 768px) {
    header {
      display: block;
      text-align: center;
    }
  
    main {
      margin-top: 7em;
    }
  
    section h2 {
      font-size: 1.6em;
    }
  }

  *{
    box-sizing: border-box;
  }
  body{
    background-color: grey;
    font-family: 'Playfair Display';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
   .quiz-container{
    background-color:beige;
    box-shadow: 0px spx 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 100px 60px;
    width: 600px;
    overflow: hidden;
   }
   .quiz-header{
    padding: 4 rem;
   }

   h2{
    padding: 1 rem;
    text-align: center;
    margin: 0;
   }
   ul{
    list-style-type: none;
    padding: 0;
   }
   ul li{
    font-size: 2 rem;
    margin: 1rem 0;
   }
   